# Data Folder
data/

# Env Folder
.venvprj/
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Model checkpoints
*.pt
*.pth
*.ckpt
*.bin

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

distilbert_model/
bert_ai_human_detector/

temp.csv
ai_human_classifier.ipynb
ai_human_classifier copy.ipynb
combined_ai_human.csv